#capa1{

position:fixed;
left:295px;
top:300px;



}

#capa2{

position:fixed;
left:400px;

}

body{

background-color: #08A80B;


}

#capa3{

position:fixed;
left:58px;
top:180px;




}

#capa4{

position:fixed;
left:390px;
top:210px;
    
}